html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body,
.wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrap {

  /**
   * Top wrapper
   */
  &__top {
    // width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    // fixed navbar style;
    padding: ($spacer * 4) 0;

    /**
     * Variation on body to display fully centered pages like login and
     * register forms
     */
    .wrap--centered & {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include media-breakpoint-down(sm) {
        padding: 0; // there is no navbar when using this class
      }
    }

    /**
     * Immediate child of `.wrap__top`, usually but not necessarily also
     * a `.container` element
     */
    &-inner {
      flex: 1;
      justify-content: center;
    }
  }

  /**
   * Wrapper for main content
   */
  &__main {
    min-height: 100%;
  }
}

