{% import 'layouts/macros.njk' as macros %}

{% extends '../_base.njk' %}

{% block body %}

  <div class="wrap">
    {% block header %}
      {% include 'layouts/partials/sidebar.njk' %}
    {% endblock %}

    <section class="wrap__top">
      {% include 'layouts/partials/misc-IEalert.njk' %}

      {% block container %}
      <article class="wrap__top-inner container-fluid">
        {% block content %}
        {% endblock %}
      </article>
      {% endblock %}
    </section>

    {% block footer %}
      {% include 'layouts/partials/footer.njk' %}
    {% endblock %}
  </div>

{% endblock %}
