<header class="appHeader">
  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse hsGradient">
    <a class="navbar-brand hsLogo" href="/">Hello Special</a>
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#js_navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="js_navbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">Home</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
